@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 30 25% 97%;
    --foreground: 30 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 30 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 10%;
    --primary: 30 10% 12%;
    --primary-foreground: 30 25% 97%;
    --secondary: 30 15% 93%;
    --secondary-foreground: 30 10% 15%;
    --muted: 30 10% 93%;
    --muted-foreground: 30 5% 45%;
    --accent: 30 15% 90%;
    --accent-foreground: 30 10% 12%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 10% 88%;
    --input: 30 10% 88%;
    --ring: 30 10% 12%;
    --chart-1: 152 60% 40%;
    --chart-2: 30 10% 12%;
    --chart-3: 25 80% 50%;
    --chart-4: 200 60% 50%;
    --chart-5: 0 72% 51%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 30 10% 25%;
    --sidebar-primary: 30 10% 12%;
    --sidebar-primary-foreground: 30 25% 97%;
    --sidebar-accent: 30 15% 95%;
    --sidebar-accent-foreground: 30 10% 12%;
    --sidebar-border: 30 10% 90%;
    --sidebar-ring: 30 10% 12%;

    --success: 152 60% 40%;
    --success-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
